# Temporary files
*~
*.py[cod]
__pycache__/


# Prevent mac users to commit .DS_Store files
*.DS_Store
.DS_Store
._*

# Prevent users to commit the README files created by RStudio
*README.html
*README_cache/
#*README_files/

# build directory
auto/
build/
dist/
*.egg-info/
